services:
  error-pages:
    image: tarampampam/error-pages:latest
    container_name: error-pages
    restart: unless-stopped
    command: serve
    environment:
      - TEMPLATE_NAME=connection
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=hasanNet"

      - "traefik.http.routers.error-page-router.rule=HostRegexp(`.+`)"
      - "traefik.http.routers.error-page-router.entrypoints=web"
      - "traefik.http.routers.error-page-router.priority=1" # Priority rendah agar tidak bentrok

      # 2. DEFINISI SERVICE: Ini adalah target utama (backend)
      - "traefik.http.services.error-pages.loadbalancer.server.port=8080"

      # 3. MIDDLEWARE: Ini yang akan "mencegat" error
      - "traefik.http.middlewares.error-pages.errors.status=400-599"
      - "traefik.http.middlewares.error-pages.errors.service=error-pages"
      - "traefik.http.middlewares.error-pages.errors.query=/{status}.html"

    networks:
      - hasanNet

networks:
  hasanNet:
    external: true
