services:
  # Stats Service
  go-stats-traefik:
    image: ghcr.io/banghasan/go-stats-traefik:latest
    container_name: go-stats-traefik
    restart: unless-stopped
    #    ports:
    #      - "8080:8080"
    volumes:
      - ./data:/data
    environment:
      - TZ=Asia/Jakarta
    command: [
      "-host",
      "0.0.0.0",
      "-port",
      "8080",
      "-db",
      "/data/stats.db",
      "-tz",
      "Asia/Jakarta",
    ]
    healthcheck:
      test: [
        "CMD-SHELL",
        "wget -q --spider http://127.0.0.1:8080/health || exit 1",
      ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    networks:
      - hasanNet
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=hasanNet"
      - "traefik.http.routers.traefik-go-stats.rule=Host(`stats.domain.com`)"
      - "traefik.http.services.traefik-go-stats.loadbalancer.server.port=8080"
      - "traefik.http.routers.traefik-go-stats.entrypoints=web"

      ## middlewarenya
      - "traefik.http.middlewares.logger.forwardauth.address=http://go-stats-traefik:8080"
      - "traefik.http.middlewares.logger.forwardauth.trustForwardHeader=true"

networks:
  hasanNet:
    external: true
