## Alternatif mudah untuk newbie

services:
  proxymanager:
    image: jc21/nginx-proxy-manager:latest
    container_name: proxymanager
    restart: unless-stopped
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s
    networks:
      - hasanNet
networks:
  hasanNet:
    external: true
